<div role="form">
  <div class="box box-solid box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Dados pessoais</h3>
    </div>
    
    <div class="box-body">
      
      <field id="empresaRazaoSocial" label="Razão Social" model="empresa.razaoSocial"
          placeholder="Informe a Razão Social" grid="12 6 6" readonly="tabDelete"></field>

      <field id="empresaNomeFantasia" label="Nome Fantasia" model="empresa.nomeFantasia"
          placeholder="Informe o Nome" grid="12 6 6" readonly="tabDelete"></field>

      <field id="empresaAdministrador" label="Adminisrtador" model="empresa.administrador"
          placeholder="Informe o nome do administrador" grid="12 6 6" readonly="tabDelete"></field>
      
      <field id="empresaCNPJ" label="CNPJ" model="empresa.cnpj"
          placeholder="Informe o CNPJ" grid="12 6 6" readonly="tabDelete"></field>

    </div>
  </div>

  <div class="box box-solid box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Telefones</h3>
    </div>

    <div class="box-body">
        <field id="empresaTelefone" label="Telefone" model="empresa.telefone"
            placeholder="Insira o telefone" grid="12 6 4" readonly="tabDelete"></field>

        <field id="
        " label="Telefone 2" model="empresa.telefone2"
            placeholder="Telefone para recado" grid="12 6 4" readonly="tabDelete"></field>
    </div>
  </div>

  <div class="box box-solid box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Endereço</h3>
    </div>

    <div class="box-body">
        <field id="empresaCep" label="CEP" model="empresa.cep"
            placeholder="Insira o CEP" grid="12 6 4" readonly="tabDelete"></field>

        <field id="empresaEstado" label="Estado" model="empresa.estado"
            placeholder="Insira o Estado" grid="12 6 4" readonly="tabDelete"></field>

        <field id="empresaCidade" label="Cidade" model="empresa.cidade"
            placeholder="Insira a Cidade" grid="12 6 4" readonly="tabDelete"></field>

        <field id="empresaBairro" label="Bairro" model="empresa.bairro"
            placeholder="Insira o Bairro" grid="12 6 4" readonly="tabDelete"></field>
      
        <field id="empresaRua" label="Rua" model="empresa.rua"
            placeholder="Insira a Rua" grid="12 6 4" readonly="tabDelete"></field>

        <field id="empresaNumero" label="Nº" model="empresa.numero"
            placeholder="Insira o Nº" grid="12 6 4" readonly="tabDelete"></field>

        <field id="empresaComplemento" label="Complemento" model="empresa.complemento"
            placeholder="Insira o Complemento" grid="12 6 4" readonly="tabDelete"></field>

    </div>
  </div>

  <div class="box-footer">
    <button class="btn btn-primary" ng-click="createEmpresa()"
         ng-if="tabCreate">Incluir</button>
    <button class="btn btn-info" ng-click="updateEmpresa()"
         ng-if="tabUpdate">Alterar</button>
    <button class="btn btn-danger" ng-click="deleteEmpresa()"
         ng-if="tabDelete">Excluir</button>
    <button class="btn btn-default" ng-click="cancel()" ng-if="tabUpdate || tabDelete">Cancelar</button>
  </div>
</div>
