<div class="box-body">
  <table class="table">
    <thead>
      <tr>
        <th>CNPJ</th>
        <th>Nome</th>
        <th>Administrador</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="empresa in empresas">
			<td>{{:: empresa.cnpj }}</td>	
			<td>{{:: empresa.nomeFantasia }}</td>	
			<td>{{:: empresa.administrador }}</td>	
			<td>({{:: empresa.telefones[0].ddd}}) {{:: empresa.telefones[0].numTelefone}}</td>	
			<td style="width:100px;">
				<button class="btn btn-warning" ng-click="showTabUpdate(empresa)"><i class="fa fa-pencil"></i></button>
				<button class="btn btn-danger" ng-click="showTabDelete(empresa)"><i class="fa fa-trash-o"></i></button>
			</td>
      	</tr>
    </tbody>
  </table>
</div>
<div class="box-footer clearfix">
   <paginator url="/#!/terceiro" pages="{{ pages }}"></paginator>
</div>
