<div class="box-body">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Ocupações</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="terceiro in terceiros">
        <td>{{:: terceiro.nome }}</td>
        <td>({{:: terceiro.telefones[0].ddd }}) - {{:: terceiro.telefones[0].numTelefone }}</td>
        <td>{{:: terceiro.ocupacoes[0] }}</td>
        <td style="width:100px;">
          <button class="btn btn-warning" ng-click="showTabUpdate(terceiro)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" ng-click="showTabDelete(terceiro)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="box-footer clearfix">
   <paginator url="/#!/terceiro" pages="{{ pages }}"></paginator>
</div>
